@import "tailwindcss";

:root {
  /* Basic colors */
  --background: #ffffff;
  --foreground: #0F0E0E;
  --primary: #471396;
  --secondary: #090040;
  --accent: #FF5A5F;
  --success: #3A6F43;
  --warning: #FFC107;
  --danger: #660B05;
  --disable: #a2a7b8;
  --disableText: #44464d;
  --muted: #A0A0A0;

  /* Fonts */
  --font-sans: 'Arial', Helvetica, sans-serif;
  --font-mono: 'Courier New', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-disable: var(--disable);
  --color-disable-text: var(--disableText);
  --color-muted: var(--muted);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-fade-in-out {
  animation: fadeInOut 3s ease forwards;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
